<!-- Copyright (c) 2014 Zubax, zubax.com -->
<!-- Please refer to the file LICENSE for terms and conditions. -->
<!-- Author: Pavel Kirienko <pavel.kirienko@zubax.com> -->

<launch>
    <!-- Filter rosrun zubax_posekf posekf imu:=/dev/imu/data gnss:=/dev/gnss/fix -->
    <node name="zubax_posekf" pkg="zubax_posekf" type="posekf" output="screen"
          clear_params="true" required="true">

        <remap from="imu" to="/dev/imu/data" />
        <remap from="gnss" to="/dev/gnss/fix" />
    </node>

    <!-- Ground truth transformer -->
    <node name="ground_truth_transformer" pkg="zubax_posekf" type="odometry_frame_transformer.py" output="screen"
          clear_params="true" required="true">

        <remap from="odom_in" to="/odom_gt" />
        <remap from="odom_out" to="/ground_truth" />

        <param name="child_frame_id" value="ground_truth" />
        <param name="rotation_yaw"   value="185" />
    </node>

    <!-- Convariance injector -->
    <node name="covariance_injector" pkg="zubax_posekf" type="covariance_injector.py" output="screen"
          clear_params="true" required="true">

        <remap from="imu_in" to="/imu" />
        <remap from="gnss_in" to="/gps" />
        <remap from="imu_out" to="/dev/imu/data" />
        <remap from="gnss_out" to="/dev/gnss/fix" />
    </node>

    <!-- Stereo image proc -->
    <remap from="/stereo/left/image_raw"    to="/left/image_raw" />
    <remap from="/stereo/left/camera_info"  to="/left/camera_info" />
    <remap from="/stereo/right/image_raw"   to="/right/image_raw" />
    <remap from="/stereo/right/camera_info" to="/right/camera_info" />
    <group ns="stereo">
        <node pkg="stereo_image_proc" name="stereo_image_proc" type="stereo_image_proc" output="screen"
            clear_params="true" required="true">
            <rosparam param="approximate_sync">true</rosparam>
            <rosparam command="load" file="$(find zubax_posekf)/launch/stereo_image_proc.yaml"/>
        </node>
    </group>

    <!-- Viso2 -->
    <node pkg="viso2_ros" name="viso2" type="stereo_odometer" output="screen"
          clear_params="true" required="true">
        <remap from="stereo" to="stereo" />
        <remap from="image" to="image_rect_color" />
        <remap from="viso2/odometry" to="/visual_odom" />

        <rosparam param="approximate_sync">true</rosparam>
        <rosparam param="publish_tf">false</rosparam>
        <rosparam param="odom_frame_id">world</rosparam>
        <rosparam param="base_link_frame_id">base_link</rosparam>
    </node>
</launch>
